*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    width: 90%;
    margin: 0 auto;
}
.header{
    color: blueviolet;
    font-size: 50px;
}
h2 {
    color :red;
}
.red{
    color: red;
}

.form-inline{
    display: inline-block;
}