*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cursive;
    text-transform: capitalize;
}

body{
  width: 90%;
  margin: 50px auto;
}
.gold-cont{
    font-size: 22px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.gold-stack{
    border: 2px solid black;
    padding: 5px ;
    width: 200px;
    text-align: left;

}

.places-cont{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}

.place{
    width: 22%;
    border: 2px solid black;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.activites-cont{
    margin: 50px 0 0 0;
    width: 90%;

}
.activites-cont h2{
    margin-bottom: 40px;
}

.activites-event-cont{
    width: 90%;
    border: 2px solid black;
    height: 180px;
    padding: 5px 10px;
    overflow-y: scroll;
}

.green{
    color: green;
}

.red{
    color: red;
}